[submodule "ros_maps_to_pedsim"]
	path = ros_maps_to_pedsim
	url = git@github.com:fverdoja/ros_maps_to_pedsim.git
[submodule "SPACiSS"]
	path = SPACiSS
	url = git@github.com:maprdhm/SPACiSS.git
	branch = noetic
[submodule "darknet_ros"]
	path = darknet_ros
	url = git@github.com:leggedrobotics/darknet_ros.git
